* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}


#container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 14, 39, 0.168);
  color:chocolate;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 75vh;
  width: 37vw;
  gap: 50px;
  background-color: rgb(1, 1, 46);
  border-radius: 8px;
  padding: 2vw 1vw;
}

.p-content {
  background-color: rgb(5, 13, 126);
  color: chartreuse;
  border-radius: 14px;
  padding: 1vw;
}